<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</link>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</link>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="jquery-3.3.1.min.js"></script>

    <title>Liste des contacts : Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Liste des contacts </h1>
	<table class="table">
		<tr> 
			<td> Nom </td> <td> Prenom </td><td> Modifier</td><td> Supprimer</td>
		</tr> 
		<tr th:each="e : ${listContacts}">			
			<td th:text="${e.getNom()}"/> <td th:text="${e.getPnom()}"/>
			<td><button type="button" th:onclick="${e.getUrlModif()}" class="btn btn-secondary">ModifyContact</button></td>
			<td><button type="button" th:onclick="${e.getUrlSuppr()}" class="btn btn-danger">SupprimerContact</button></td>
			<br/>
		</tr>
		<tr> 
		<form action="#" th:action="@{/contactAdd}" th:object="${contact}" method="get">
			<td><button class="btn btn-success" type='submit'>AddContact</button></td>
		</form>
		</tr>
	</table>
</body>
</html>